h1{
    background-color: tomato;
    text-align: center;
    width: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.Gradient{
    height: 200px;
    background-color: red;
    background-image: linear-gradient(red, yellow);
}

#grad1{
    height: 200px;
    background-color: yellow;
    background-image: linear-gradient(to right,red ,yellow, black);
}

#grad2{
    height: 200px;
    background-color: yellow;
    background-image: linear-gradient(to bottom,red ,yellow, black, green);
}

#grad3{
    height: 200px;
    background-color: yellow;
    background-image: linear-gradient(180deg,rgb(191, 80, 80) ,yellow, rgb(92, 46, 46), rgb(0, 98, 128));
}

#grad4{
    height: 200px;
    background-color: yellow;
    background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
}
#grad5{
    height: 200px;
    background-color: yellow;
    background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
}

#grad6{
    height: 300px;
    width: 300px;
    background-color: red;
    background-image: conic-gradient(red, yellow, green, blue, black);;
}