h1{
    background-color: aqua;
    width: 30%;
    text-align: center;
}
a:link, a:visited{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 1px solid green;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active{
    background-color: yellowgreen;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
}