h1{
    background-color: black;
    color: aqua;
    text-align: left;
    padding-left: 25px;
}
p{
    color: blue;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div{
    border: 1px solid black;
    padding: 10px;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: blue;
    width: 200px;
    height: 200px;
    text-align: justify;
}

p.lt{
    direction: rtl;
    unicode-bidi: bidi-override;
}
p.b{
    vertical-align: baseline;
}
p.c{
    vertical-align: text-top;
}
p.d{
    vertical-align: text-bottom;
}
p.a{
    vertical-align: sub;
}
